<!DOCTYPE html>
<html>
    <head>
        <title>Submit Post</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
        <h1>Create Posts</h1>
        <a href="{{ url_for('hello_world') }}">Home</a>
        <a href="{{ url_for('show_blogs') }}">New Post</a>

        <form method="POST" action="{{ url_for('submit_post') }}">


            <label for="title"><h1>Title:</h1></label>
            <input type="text" id="title" name="title" required><br>

            <label for="post"><h1>Post:</h1></label>
            <textarea id="post" name="post" rows="4" cols="50" required></textarea><br>

            <label for="type"><h1>Type:</h1></label>
            <input type="text" id="type" name="type" required><br>

            <input type="submit" value="Submit">
        </form>
        </div>
        <div><h3>Result:</h3></div>
        {% if message %}
        <div id="result">
            <p>{{ message }}</p>
        </div>
        {% endif %}
    </body>
</html>

