<!DOCTYPE html>
<html>
    <head>
        <title>Submit Post</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
        <h1>Change</h1>
        <a href="{{ url_for('hello_world') }}">Home</a>
        <a href="{{ url_for('submit_post') }}">New Post</a>

        <form method="POST" action="{{ url_for('about_me') }}">


            <label for="name"><h1>Name:</h1></label>
            <input type="text" id="name" name="name" required><br>

            <label for="age"><h1>Age:</h1></label>
            <input type="number" id="age" name="age" required><br>

            <label for="hobby"><h1>Hobby:</h1></label>
            <input type="text" id="hobby" name="hobby" required><br>

            <label for="project"><h1>Project:</h1></label>
            <input type="text" id="project" name="project" required><br>

            <input type="submit" value="Submit">

        </form>
        </div>
        <div><h3>Result:</h3></div>
        {% if message %}
        <div id="result">
            <p>{{message}}</p>
        </div>
        {% endif %}
    </body>
</html>